<html>
    <br>
    <br>
    <br>
    <br>

    <div class = 'container'>
        <div class = 'row'>
            <p>Note: Too many refreshes or stock searches in quick succession will result in API rate limiting to kick in.</p>
        </div>
        <div class = 'row'>
            <div class = 'col-4'>
                {{#each dashDisplay}}
                    {{#each this}}                       <!--drills one layer deeper into json dict-->
                    {{@key}}: {{this}}                 <!--iterate through each key (@key) value(this) pair, can also use @index-->
                    <br>               
                    {{/each}}   
                {{/each}}
            </div>
            <div class = 'col-4'>
                {{#each dashDisplay}}
                    {{#each this}}                       
                    {{@key}}: {{this}}                 
                    <br>               
                    {{/each}}   
                {{/each}}
            </div>
            <div class = 'col-4'>
                {{#each dashDisplay}}
                    {{#each this}}                      
                    {{@key}}: {{this}}                 
                    <br>               
                    {{/each}}   
                {{/each}}
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class = 'row'>
            <p>Don't know any stock symbols to search? Select from one of the options below to explore a company page! Or try your hand with our search engine!</p>
        </div>
        <div class = 'row'>
            <div class = 'col-6'> 
                <div class = 'row'>
                    <H3>NASDAQ Companies</H3>
                </div>
                <br>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="AAPL" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4" type="submit">Apple</button>
                        </form>
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="MFST" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4" type="submit">Microsoft</button>
                        </form>
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="GOOG" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4 " type="submit">Google</button>
                        </form>
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="AMZN" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4" type="submit">Amazon</button>
                        </form>
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="TSLA" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4" type="submit">Tesla</button>
                        </form>
                    </div>    
                </div>
                
            </div>
            <div class = 'col-6'>
                <div class = 'row'>
                    <H3>S&P 500 Companies</H3>
                </div>
                <br>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="JPM" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4" type="submit">JP Morgan</button>
                        </form>
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="HD" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4" type="submit">Home Depot</button>
                        </form>
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="DIS" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4 " type="submit">Disney</button>
                        </form>
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="COST" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4" type="submit">Costco</button>
                        </form>
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="AAL" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4" type="submit">American Airlines</button>
                        </form>
                    </div>    
                </div>

            
        </div>

    </div>

    
</html>

