<!DOCTYPE html>
<html>
    <head>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 

    </head>
    <br>
    <br>
    <br>
    <br>
    <body>
    <div class = 'container'>
        
        <div class = 'row'>
            <div class = 'col'>
                <div class = 'card'> 
                    <div class = 'card-body'>
                        <div class = 'd-flex justify-content-center'>
                            <H3>S&P 500</H3>
                        </div>
                        <div class = 'd-flex justify-content-center'>
                            <H4>({{symbol}})</H4>
                        </div>
                        
                        <p><b>Price:</b> ${{price}}</p>
                        <p><b>Change:</b> ${{change}}</p>
                        <p><b>Percent Change:</b> {{percent}}</p>
                        <P><b>Volume:</b> {{volume}}</P>
                    </div>
                </div>
                
            </div>
            <div class = 'col'>
                <div class = 'card'>
                    <div class = 'card-body'>
                        <div class = 'd-flex justify-content-center'>
                            <H3>NASDAQ</H3>
                        </div>
                        <div class = 'd-flex justify-content-center'>
                            <H4>({{symbol2}})</H4>
                        </div>

                        <p><b>Price:</b> ${{price2}}</p>
                        <p><b>Change:</b> ${{change2}}</p>
                        <p><b>Percent Change:</b> {{percent2}}</p>
                        <P><b>Volume:</b> {{volume2}}</P>
                    </div>
                </div> 
            </div>

            <div class = 'col'>
                <div class = 'card'>
                    <div class = 'card-body'>
                        <div class = 'd-flex justify-content-center'>
                            <H3>DJIA</H3>
                        </div>
                        <div class = 'd-flex justify-content-center'>
                            <H4>({{symbol3}})</H4>
                        </div>
                        
                        <p><b>Price:</b> ${{price3}}</p>
                        <p><b>Change:</b> ${{change3}}</p>
                        <p><b>Percent Change:</b> {{percent3}}</p>
                        <P><b>Volume:</b> {{volume3}}</P>
                    </div>
                </div>
            </div>

            
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class = 'd-flex justify-content-center'>
            <p>Don't know any stock symbols to search? Select from one of the options below to explore a company page! Or try your hand with our search engine!</p>
        </div>
        <div class = 'd-flex justify-content-evenly'>
            <div class = 'col-6'> 
                <div class = 'd-flex justify-content-center'>
                    <H3>NASDAQ Companies</H3>
                </div>
                <br>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex justify-content-center" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="AAPL" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4" type="submit">Apple</button>
                        </form>
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'> 
                        <form class="d-flex justify-content-center" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="MSFT" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4" type="submit">Microsoft</button>
                        </form>
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex justify-content-center" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="GOOG" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4 " type="submit">Google</button>
                        </form>
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex justify-content-center" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="AMZN" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4" type="submit">Amazon</button>
                        </form>
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex justify-content-center" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="TSLA" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4" type="submit">Tesla</button>
                        </form>
                    </div>    
                </div>
                
            </div>
            <div class = 'col-6'>
                <div class = 'd-flex justify-content-center'>
                    <H3>S&P 500 Companies</H3>
                </div>
                <br>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex justify-content-center" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="GS" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4" type="submit">Goldman Sachs</button>
                        </form>
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex justify-content-center" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="ATVI" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4" type="submit">Activision Blizzard</button>
                        </form>
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex justify-content-center" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="EXPE" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4 " type="submit">Expedia</button>
                        </form>
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex justify-content-center" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="XOM" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4" type="submit">ExxonMobil</button>
                        </form>
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex justify-content-center" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="HLT" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4" type="submit">Hilton Hotels</button>
                        </form>
                    </div>    
                </div>

            
        </div>

    </div>


    <!-- Optional JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>

