<html>
    <br>
    <br>
    <br>
    <br>

    <div class = 'container'>
        <div class = 'row'>
            <p>Note: Too many refreshes or stock searches in quick succession will result in API rate limiting to kick in.</p>
        </div>
        <div class = 'row'>
            <div class = 'col-4'>
                {{#each dashDisplay}}
                    {{#each this}}                       <!--drills one layer deeper into json dict-->
                    {{@key}}: {{this}}                 <!--iterate through each key (@key) value(this) pair, can also use @index-->
                    <br>               
                    {{/each}}   
                {{/each}}
            </div>
            <div class = 'col-4'>
                {{#each dashDisplay}}
                    {{#each this}}                       
                    {{@key}}: {{this}}                 
                    <br>               
                    {{/each}}   
                {{/each}}
            </div>
            <div class = 'col-4'>
                {{#each dashDisplay}}
                    {{#each this}}                      
                    {{@key}}: {{this}}                 
                    <br>               
                    {{/each}}   
                {{/each}}
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class = 'row'>
            <p>Don't know any stock symbols to search? Select from one of the options below to explore a company page! Or try your hand with our search engine!</p>
        </div>
        <div class = 'row'>
            <div class = 'col-6'> 
                <div class = 'row'>
                    <H3>NASDAQ Companies</H3>
                </div>
                <br>
                <div class = 'row'>
                    <div class = 'col'>
                        <a id = 'apple' href="">Apple</a> 
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <a href="">Google</a> 
                    </div>   
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <a href="">Microsoft</a> 
                    </div>   
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <a href="">Amazon</a> 
                    </div>   
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <a href="">Tesla</a> 
                    </div>   
                </div>
            </div>
            <div class = 'col-6'>
                <div class = 'row'>
                    <H3>S&P500 Companies</H3>
                </div>
                <br>
                <div class = 'row'>
                    <div class = 'col'>
                        <a href="">JP Morgan Chase</a> 
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <a href="">Home Depot</a> 
                    </div>     
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <a href="">Walt Disney</a> 
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <a href="">Costco</a> 
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <a href="">Bank of America</a> 
                    </div>    
                </div>

            
        </div>

    </div>



   

    
</html>

