<html>
    <br>
    <br>
    <br>
    <br>

    <div class = 'container'>
        <div class = 'row'>
            <div class = 'col-4'>
                {{#each dashDisplay}}
                    {{#each this}}                       <!--drills one layer deeper into json dict-->
                    {{@key}}: {{this}}                 <!--iterate through each key (@key) value(this) pair, can also use @index-->
                    <br>               
                    {{/each}}   
                {{/each}}
            </div>
            <div class = 'col-4'>
                {{#each dashDisplay}}
                    {{#each this}}                       
                    {{@key}}: {{this}}                 
                    <br>               
                    {{/each}}   
                {{/each}}
            </div>
            <div class = 'col-4'>
                {{#each dashDisplay}}
                    {{#each this}}                      
                    {{@key}}: {{this}}                 
                    <br>               
                    {{/each}}   
                {{/each}}
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class = 'row'>
            <div class = 'col-6'>
                <div class = 'row'>
                    <H3>Top Gainers</H3>
                </div>
                <br>
                <div class = 'row'>
                    <div class = 'col'>
                        <a href="">Stock</a> 
                    </div>
                    <div class = 'col'>
                        <a href="">%</a> 
                    </div>      
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <a href="">Stock</a> 
                    </div>
                    <div class = 'col'>
                        <a href="">%</a> 
                    </div>      
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <a href="">Stock</a> 
                    </div>
                    <div class = 'col'>
                        <a href="">%</a> 
                    </div>      
                </div>

                
            </div>
            <div class = 'col-6'>
                <div class = 'row'>
                    <H3>Top Losers</H3>
                </div>
                <br>
                <div class = 'row'>
                    <div class = 'col'>
                        <a href="">Stock</a> 
                    </div>
                    <div class = 'col'>
                        <a href="">%</a> 
                    </div>      
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <a href="">Stock</a> 
                    </div>
                    <div class = 'col'>
                        <a href="">%</a> 
                    </div>      
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <a href="">Stock</a> 
                    </div>
                    <div class = 'col'>
                        <a href="">%</a> 
                    </div>      
                </div>

            
        </div>

    </div>



   

    
</html>

