<html>
    <br>
    <br>
    <br>
    <br>

    <div class = 'container'>
        
        <div class = 'row'>
            <div class = 'col'>
                <H3>{{symbol}}</H3>
                <p><b>Price:</b> ${{price}}</p>
                <p><b>Change:</b> ${{change}}</p>
                <p><b>Percent Change:</b> {{percent}}</p>
                <P><b>Volume:</b> {{volume}}</P>
            </div>
            <div class = 'col'>
                <H3>{{symbol2}}</H3>
                <p><b>Price:</b> ${{price2}}</p>
                <p><b>Change:</b> ${{change2}}</p>
                <p><b>Percent Change:</b> {{percent2}}</p>
                <P><b>Volume:</b> {{volume2}}</P>
            </div>
            <div class = 'col'>
                <H3>{{symbol3}}</H3>
                <p><b>Price:</b> ${{price3}}</p>
                <p><b>Change:</b> ${{change3}}</p>
                <p><b>Percent Change:</b> {{percent3}}</p>
                <P><b>Volume:</b> {{volume3}}</P>
            </div>

            
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class = 'row'>
            <p>Don't know any stock symbols to search? Select from one of the options below to explore a company page! Or try your hand with our search engine!</p>
        </div>
        <div class = 'row'>
            <div class = 'col-6'> 
                <div class = 'row'>
                    <H3>NASDAQ Companies</H3>
                </div>
                <br>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="AAPL" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4" type="submit">Apple</button>
                        </form>
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="MSFT" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4" type="submit">Microsoft</button>
                        </form>
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="GOOG" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4 " type="submit">Google</button>
                        </form>
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="AMZN" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4" type="submit">Amazon</button>
                        </form>
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="TSLA" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4" type="submit">Tesla</button>
                        </form>
                    </div>    
                </div>
                
            </div>
            <div class = 'col-6'>
                <div class = 'row'>
                    <H3>S&P 500 Companies</H3>
                </div>
                <br>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="JPM" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4" type="submit">JP Morgan</button>
                        </form>
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="HD" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4" type="submit">Home Depot</button>
                        </form>
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="DIS" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4 " type="submit">Disney</button>
                        </form>
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="COST" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4" type="submit">Costco</button>
                        </form>
                    </div>    
                </div>
                <div class = 'row'>
                    <div class = 'col'>
                        <form class="d-flex" action = '/result.html' METHOD = 'POST'>
                            <input class="form-control me-2" type="hidden" name = "symbolSearch" value ="AAL" aria-label="Search">
                            <button class="btn btn-outline-secondary btn-sm btn-block col-sm-4" type="submit">American Airlines</button>
                        </form>
                    </div>    
                </div>

            
        </div>

    </div>

    
</html>

